$font_LatoRegular:          'Lato Regular', sans-serif;
$font_LatoBold:             'Lato Bold', sans-serif;
$font_LatoItalic:           'Lato Italic', sans-serif;
$font_RubikLight:          'Rubik Light', sans-serif;

$color_white:               #FFFFFF;
$color_grey:                #4a4b4b;
$color_lightgrey:           #e1e1e1;
$color_black:               #000000;
$color_red:                 #ff0000;
